{% extends "basecards.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <h3>En blandad kortlek</h3>

    <div class="cardcontainer">
        {% for value in deckofcards %}
            {% if (value[-1:] == '♥') or (value[-1:] == '♦') %}
                <div class="singlecardcontainerred">
            {% else %}
                <div class="singlecardcontainerblack">
            {% endif %}
                <div class="singlecardborder">
                    <div class="upperleftrank">
                        {% if value|length == 2 %}
                        {{ value|slice(0, 1) }}
                        {% else %}
                        {{ value|slice(0, 2) }}
                        {% endif %}
                    </div>
                    <div class="upperleftsuit">
                        {{ value[-1:] }}
                    </div>
                    <br>
                    <div class="lowerrightsuit">
                        {{ value[-1:] }}
                    </div>
                    <div class="lowerrightrank">
                        {% if value|length == 2 %}
                        {{ value|slice(0, 1) }}
                        {% else %}
                        {{ value|slice(0, 2) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {# {{ dump(deck) }} #}

{% endblock %}