{% extends "testbase.html.twig" %}

{% block title %}Test{% endblock %}

{% block body %}

    <h4>a href:</h4>

    <a href="{{ path('api_start_get_one') }}">startOne</a><br>
    <a href="{{ path('api_start_get_two') }}">startTwo</a><br>
    <br>
    <br>

    <h4> javascript onClick </h4>
    <form method="get">
        <input type="submit" name="do_it" value="GETJsonOne"
        onClick="this.form.action='{{ path('api_start_get_one') }}';"
    >
        <input type="submit" name="do_it" value="GETJsonTwo"
        onClick="this.form.action='{{ path('api_start_get_two') }}';"
    >
    </form>

    <br>
    <br>

    <h4>två html-form med get</h4>
    <form method="get" action="{{ path('api_start_get_one') }}">
        <input type="submit" name="do_it" value="GETJsonOne">
    </form>
    <form method="get" action="/testapi/startgettwo">
        <input type="submit" name="do_it" value="GETJsonTwo">
    </form>
{% endblock %}
